name: TypeScript CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: true

      - name: Run prepublishOnly
        run: pnpm run prepublishOnly

      - name: Check for file changes
        id: git-check
        run: |
          if git diff --exit-code; then
          echo "changed=false" >> $GITHUB_OUTPUT
          else
          echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Create Pull Request with lint fixes
        if: steps.git-check.outputs.changed == 'true' && github.ref == 'refs/heads/main'
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore(lint): fix issues"
          title: "chore(lint): fix issues"
          body: "The `eslint fix` action wants to apply these fixes."
          branch: "chore/eslint-fixes"
          base: main
          signoff: true
          sign-commits: true